@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-Ultralight.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-UltralightItalic.otf") format("opentype");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-Ultralight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-Ultrabold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-UltraboldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: rgba(0,0,0,0.05);
    font-family: "PPEditorialNew";
    font-weight: lighter;
}

.container {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.footer {
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
.container.outer {
    box-shadow: 0 0 100px rgba(238, 130, 238, 0.3);
}
*/
.nav-pills .nav-link.active {
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: black;
}

.gallery {
    width: 90%;
}

.gallery-item {
    padding: 10px;
    background-color: white;
    border-width: 0;
}


.gallery-item h3 {
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
}

.gallery-item h6 {
    font-size: 13px;
    font-family: "Work Sans";
    margin:0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(0,0,0,0.5)
}

.gallery-item p {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 10px;
    margin: 0;
    text-align: justify;
}


span.badge {
    font-family: "Work Sans";
    font-style: normal;
    background-image: linear-gradient(to right, blue, hotpink);
    background-size: 150% 150%;
    animation: gradient 5s ease infinite;
    color:white;
}

span.badge.ongoing {
    background-image: none;
    background-color: rgba(0,0,0,0.3);
}

@keyframes gradient {
    0% {background-position: 0% 100%;}
    50% {background-position: 100% 150%;}
    100% {background-position: 0% 100%;}
}

img.cover {
    aspect-ratio: 1/1;
    object-fit: cover;
    filter:grayscale(100%);
    opacity: 70%;
    transition: 0.3s;
}

img.cover:hover {
    opacity: 100%;
    filter:grayscale(0%);
    transform: scale(1.05) translateY(-10px);
    z-index: 1;
}


.new img {
    filter: grayscale(0%);
    opacity: 100%;
}

img.modal-image {
    width: 100%;
    height: auto;
    margin: 0;
}

img.logo {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: logoFade 3s ease infinite;
}

@keyframes logoFade {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity:1;}
}