@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-Ultralight.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-UltralightItalic.otf") format("opentype");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-Ultralight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-Regular.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "PPEditorialNew";
    src: url("fonts/PPEditorialNew-UltraboldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

.preloader {
    z-index: 100;
    position:fixed;
    width: 100%;
    height: 100vh;
    animation: disappear 5s ease;
}

@keyframes disappear {
    0% {display:block; background-color: black;}
    80% {opacity:1; background-color: gray;}
    100% {opacity: 0; z-index: 0;}
}

body {
    background-color: rgba(0,0,0,1);
    font-family: "PPEditorialNew";
    font-weight: lighter;
}

a {
    color: black;
    font-weight: bold;
}

a:hover {
    color: rgba(0,0,0,0.3);
}

.container {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.container.footer {
    background: none;
    color: white;
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

.connect i {
    padding-right: 10px;
}

.footer h4 {
    margin: 0;
}

.footer img {
    width: 150px;
    height: auto;
}

.footer p {
    margin: 0;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom p {
    margin: 0;
}
 
.fa-brands {
    color:white;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.container.outer {
    /*box-shadow: 0 0 100px rgba(238, 130, 238, 0.3);*/
    width: 50%;
    box-shadow: 0 0 100px red;
    animation: glow 3s ease infinite;
}

@keyframes glow {
    0% {box-shadow: 0 0 100px rgba(255,255,255,.3);}
    50% {box-shadow: 0 0 100px rgba(255,255,255,.7);}
    100% {box-shadow: 0 0 100px rgba(255,255,255,.3);}
}

@media only screen and (max-width:800px) {
    .container.outer {width:100%;}
}

.nav-pills .nav-link.active {
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: black;
}

.nav-pills .nav-link.active:hover {
    background-color: black;
    color: white;
}

.overview h2 {
    font-size: 25px;
    line-height: 70%;
    margin: 0;
}

.overview p {
    font-size: 14px;
    line-height: 120%;
    margin:0;
}

.overview img {
    width: 300px;
    height: auto;
    float: right;
    margin-left: 10px;
}

.gallery {
    width: 90%;
}

.gallery-item {
    padding: 10px;
    background-color: white;
    border-width: 0;
}

.gallery-item h3 {
    font-size: 20px;
    /*
    font-family: "Work Sans";
    font-weight: 600;
    */
    font-weight: lighter;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
    line-height: 100%;
}

.gallery-item h6 {
    font-size: 10px;
    font-family: "Work Sans";
    margin:0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(0,0,0,0.5)
}

.gallery-item p {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 10px;
    margin: 0;
    text-align: justify;
    line-height: 120%;
}

.loading{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to right, black, rgba(0,0,0,0.1));
    background-size: 200% 200%;
    animation: gradient 1.5s ease infinite;
    opacity: 0.4;
}

.typing {
    height: 7vh;
}

span.badge {
    font-family: "Work Sans";
    font-style: normal;
    background-image: linear-gradient(to right, blue, hotpink);
    background-size: 150% 150%;
    animation: gradient 5s ease infinite;
    color:white;
}

span.badge.ongoing {
    background-image: none;
    background-color: rgba(0,0,0,0.3);
}

@keyframes gradient {
    0% {background-position: 0% 100%;}
    50% {background-position: 100% 150%;}
    100% {background-position: 0% 100%;}
}

img.cover {
    aspect-ratio: 1/1;
    object-fit: cover;
    filter:grayscale(100%);
    opacity: 50%;
    transition: 0.3s;
}

img.cover:hover {
    opacity: 100%;
    filter:grayscale(0%);
    transform: scale(1.05) translateY(-10px);
    z-index: 1;
}

.new img {
    filter: grayscale(0%);
    opacity: 100%;
}

img.modal-image {
    width: 100%;
    height: auto;
    margin: 0;
}

div.logo {
    padding: 20px;
}

img.logo {
    width: 10vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: logoFade 3s ease infinite;
}

img.logo:hover {
    animation: none;
    opacity: 1;
}

@keyframes logoFade {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity:1;}
}